# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Model checkpoints
# =========================
*.pth
*.pt
*.ckpt
*.onnx

# =========================
# Training outputs
# =========================
predictions/
pred_masks/



# Logs
*.log

# =========================
# Dataset artifacts
# =========================
*.zip
*.rar
*.7z

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Build / cache
# =========================
.pytest_cache/
.mypy_cache/
.cache/

# =========================
# Temporary files
# =========================
tmp/
temp/
*.tmp
graph_module/__pycache__
# Large datasets
train/
valid/
test/

# Generated metadata
metadata.csv